@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color: #000;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

h1, p {
  color: #fff;
}